<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<link href="/webjars/materializecss/0.97.7/css/materialize.css"
	type="text/css" rel="stylesheet" media="screen,projection" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">

<title>Horário de Estudo</title>
</head>

<body>
	<div class="navbar-fixed">
		<nav>
			<div class="nav-wrapper #29b6f6 light-blue lighten-1">
				<a href="/" class="brand-logo"><i class="material-icons">school</i>Alocação
					de Horários</a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li><a href="/usuarios/">Usuário</a></li>
					<li><a href="/salas/">Sala</a></li>
				</ul>
			</div>
		</nav>
	</div>

	<div class="container">
		<div class="row">
			<h4>
				<span th:text="${sala.sala}"></span> - <span th:text="${sala.bloco}"></span>
			</h4>
			<form th:action="@{${'/salas/horarios/'+sala.id+'/salvar'}}"
				method="post">
				<div class="col s4">
					<label>Escolha um usuario</label> <select class="browser-default"
						name="nomeUsuario">
						<option value="" disabled="disabled" selected="selected">Escolha
							um usuario</option>
						<option th:each="nomeUsuario : ${usuarios}"
							th:value="${nomeUsuario.id}" th:text="${nomeUsuario.nome}"></option>
					</select>
				</div>
				<div class="col s3">
					<label>Escolha um dia</label> <select class="browser-default"
						name="diaHorario">
						<option value="" disabled="disabled" selected="selected">Escolha
							um dia</option>
						<option value="1">SEGUNDA</option>
						<option value="2">TERÇA</option>
						<option value="3">QUARTA</option>
						<option value="4">QUINTA</option>
						<option value="5">SEXTA</option>
					</select>
				</div>
				<div class="col s3">
					<label>Escolha um turno</label> <select class="browser-default"
						name="turnoHorario">
						<option value="" disabled="disabled" selected="selected">Escolha
							um turno</option>
						<option value="1">08:00 - 10:00</option>
						<option value="2">10:00 - 12:00</option>
						<option value="3">13:30 - 15:30</option>
						<option value="4">15:30 - 17:30</option>
						<option value="5">18:00 - 20:00</option>
						<option value="6">20:00 - 22:00</option>
					</select>
				</div>
				<div class="col s2">
					<button
						class="btn-floating valign-wrapper waves-effect waves-light orange pulse"
						type="submit" name="action">
						<i class="material-icons">add</i>
					</button>
				</div>
			</form>
		</div>
		<div class="row">
			<h4>Horarios</h4>
			<table class="striped">
				<thead>
					<tr>
						<th>TURNOS</th>
						<th>SEG</th>
						<th>TER</th>
						<th>QUA</th>
						<th>QUI</th>
						<th>SEX</th>
					</tr>
				</thead>

				<tbody>

					<tr>
						<td>08:00 - 10:00</td>
						<td th:text="${d1t1.user.nome}"></td>
						<td th:text="${d2t1.user.nome}"></td>
						<td th:text="${d3t1.user.nome}"></td>
						<td th:text="${d4t1.user.nome}"></td>
						<td th:text="${d5t1.user.nome}"></td>
					</tr>

					<tr>
						<td>10:00 - 12:00</td>
						<td th:text="${d1t2.user.nome}"></td>
						<td th:text="${d2t2.user.nome}"></td>
						<td th:text="${d3t2.user.nome}"></td>
						<td th:text="${d4t2.user.nome}"></td>
						<td th:text="${d5t2.user.nome}"></td>
					</tr>
					<tr>
						<td>13:30 - 15:30</td>
						<td th:text="${d1t3.user.nome}"></td>
						<td th:text="${d2t3.user.nome}"></td>
						<td th:text="${d3t3.user.nome}"></td>
						<td th:text="${d4t3.user.nome}"></td>
						<td th:text="${d5t3.user.nome}"></td>
					</tr>

					<tr>
						<td>15:30 - 17:30</td>
						<td th:text="${d1t4.user.nome}"></td>
						<td th:text="${d2t4.user.nome}"></td>
						<td th:text="${d3t4.user.nome}"></td>
						<td th:text="${d4t4.user.nome}"></td>
						<td th:text="${d5t4.user.nome}"></td>
					</tr>
					<tr>
						<td>18:00 - 20:00</td>
						<td th:text="${d1t5.user.nome}"></td>
						<td th:text="${d2t5.user.nome}"></td>
						<td th:text="${d3t5.user.nome}"></td>
						<td th:text="${d4t5.user.nome}"></td>
						<td th:text="${d5t5.user.nome}"></td>
					</tr>

					<tr>
						<td>20:00 - 22:00</td>
						<td th:text="${d1t6.user.nome}"></td>
						<td th:text="${d2t6.user.nome}"></td>
						<td th:text="${d3t6.user.nome}"></td>
						<td th:text="${d4t6.user.nome}"></td>
						<td th:text="${d5t6.user.nome}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<script src="/webjars/jquery/2.2.4/jquery.js"></script>
	<script src="/webjars/materializecss/0.97.7/js/materialize.js"></script>

</body>

</html>