<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<link href="/webjars/materializecss/0.97.7/css/materialize.css"
	type="text/css" rel="stylesheet" media="screen,projection" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">

<title>Horário de Estudo</title>
</head>

<body>
	<div class="navbar-fixed">
		<nav>
			<div class="nav-wrapper #29b6f6 light-blue lighten-1">
				<a href="/" class="brand-logo"><i class="material-icons">school</i>Alocação
					de Horários</a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li><a href="sass.html">Usuário</a></li>
					<li><a href="badges.html">Sala</a></li>
				</ul>
			</div>
		</nav>
	</div>

	<div class="container">
		<div class="row">
			<h1>Horarios</h1>
		</div>
	</div>
	
</body>

</html>