<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<link href="/webjars/materializecss/0.97.7/css/materialize.css"
	type="text/css" rel="stylesheet" media="screen,projection" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">

<title>Horário de Estudo</title>
</head>

<body>
	<div class="navbar-fixed">
		<nav>
			<div class="nav-wrapper #29b6f6 light-blue lighten-1">
				<a href="/" class="brand-logo"><i class="material-icons">school</i>Alocação
					de Horários</a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li><a href="sass.html">Usuário</a></li>
					<li><a href="badges.html">Sala</a></li>
				</ul>
			</div>
		</nav>
	</div>
	<div class="container">
		<div class="row">


			<h4>Usuários</h4>
			<table class="highlight">
				<thead>
					<tr>
						<th>Id</th>
						<th>Matricula</th>
						<th>Nome</th>
						<th>Opções</th>
					</tr>
				</thead>

				<tbody>
					<tr th:each="usuario : ${usuarios}">
						<td th:text="${usuario.id}"></td>
						<td th:text="${usuario.matricula}"></td>
						<td th:text="${usuario.nome}"></td>
						<td><a class="btn" th:href="@{${'/usuarios/remover/'+usuario.id}}"><i class="material-icons">delete</i></a></td>
					</tr>
				</tbody>
			</table>


		</div>
		
	</div>
	<div class="fixed-action-btn toolbar">
			<a href="/usuarios/cadastrar" class="btn-floating btn-large waves-effect waves-light red pulse"><i
				class="material-icons">add</i></a>
		</div>
	

	<script src="/webjars/jquery/2.2.4/jquery.js"></script>
	<script src="/webjars/materializecss/0.97.7/js/materialize.js"></script>
</body>

</html>